<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = 'POSTGRESQL';
$DB['SERVER']   = '{{ DBHost }}';
$DB['PORT']     = '5432';
$DB['DATABASE'] = '{{ DBName }}';
$DB['USER']     = '{{ DBUser }}';
$DB['PASSWORD'] = '{{ DBPassword }}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER      = '{{ SourceIP }}';
$ZBX_SERVER_PORT = '{{ ListenPort }}';
$ZBX_SERVER_NAME = 'zabbix';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;