---
- name: install epel-release
  yum:
    name:
      - epel-release

- name: install zabbix-agent
  include_tasks: zabbix_agent_install.yml

- name: configure zabbix-agent
  include_tasks: zabbix_agent_configure.yml
